body {
	font-size: 30px;
	background-color: #efefef;
	user-select: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0;
	width: 560px;
	height: 560px;
}

.tale {
	float: left;
	margin: 0;
	width: 58px;
	height: 58px;
	border: 1px solid black;
}

.tale:nth-child(even) {
	background-color: #a39169;
}

.pointer {
	cursor: pointer;
}

.tale-P-B {
	background-image: url("img/pieces/pawnB.png");
}

.tale-R-B {
	background-image: url("img/pieces/rookB.png");
}

.tale-k-B {
	background-image: url("img/pieces/knightB.png");
}

.tale-B-B {
	background-image: url("img/pieces/bishopB.png");
}

.tale-Q-B {
	background-image: url("img/pieces/queenB.png");
}

.tale-K-B {
	background-image: url("img/pieces/kingB.png");
}

.tale-P-W {
	background-image: url("img/pieces/pawnW.png");
}

.tale-R-W {
	background-image: url("img/pieces/rookW.png");
}

.tale-k-W {
	background-image: url("img/pieces/knightW.png");
}

.tale-B-W {
	background-image: url("img/pieces/bishopW.png");
}

.tale-Q-W {
	background-image: url("img/pieces/queenW.png");
}

.tale-K-W {
	background-image: url("img/pieces/kingW.png");
}

.descriptionT {
	float: left;
	margin: 0;
	width: 58px;
	height: 58px;
	border: 1px solid black;
	text-align: center;
	line-height: 60px;
}

.descriptionT:first-child {
	margin-left: 60px;
}

.descriptionL {
	float: left;
	margin: 0;
	width: 58px;
	height: 58px;
	border: 1px solid black;
	text-align: center;
	line-height: 60px;
}

.result {
	text-align: center;
	font-size: 15px;
	width: 100%;
	line-height: 15px;
}

.info {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	line-height: 15px;
	margin-bottom: 10px;
}

.header {
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	position: sticky;
	top: 50;
	color: #900000;
	cursor: pointer;
}

.footer {
	font-size: 12px;
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
	position: sticky;
	color: #900000;
}

span {
	font-weight: bold;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	color: black;
}

a:hover {
	color: #900000;
}